body{
    background-color: rgb(175, 155, 155);
    text-align: center;
}
#game{
    width: 100vw;
    height: 75vw;
    max-width: 133.33vh;
    max-height: 100vh;
    margin: auto;
    position: absolute;
    top:0;bottom:0;
    left:0;right:0;
}

#myCanvas{
    width: 90%;
    height: 90%;
    background-image: url('../image/background.png');
    background-size: cover;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    
}

.glass-panel {
    color: rgba(255,255,255,0.8);
    margin: 40px auto;
    background-color: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.1);
    width: 100%;
    border-radius: 15px;
    padding: 32px;
    backdrop-filter: blur(10px);
  }
  
  .glass-button {
    display: inline-block;
    padding: 24px 32px;
    border: 0;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .glass-button:hover {
    background-color: rgba(255,255,255,0.2);
  }

  .glass-button:hover {
    background-color: rgba(255,255,255,0.2);
  }
  
  .glass-panel {  
    max-width: 600px;
  }
  
  .glass-button {
    margin: 15px;
    margin-top: 40px;
  }
  
  h1, h1 a {
    min-height: 120px;
    width: 90%;
    max-width: 700px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    color: #fff;
    padding-top: 60px;
    color: rgba(255,255,255,0.8);
  }
  
  p {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 32px;
    color: rgba(255,255,255,0.6);
  }
  img{
    max-width: 60%;
  }